    section {
        background-image: url('https://images.pexels.com/photos/6801874/pexels-photo-6801874.jpeg?cs=srgb&dl=pexels-anna-nekrashevich-6801874.jpg&fm=jpg');
        /*background-image: url('https://images.pexels.com/photos/2599244/pexels-photo-2599244.jpeg?cs=srgb&dl=pexels-alex-knight-2599244.jpg&fm=jpg');*/
        background-color: black;
        background-repeat: no-repeat !important;
        background-size: cover;
        width: 100% auto;
        height: 100vh;
    }
    
    .navbar-brand {}
    
    .img-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        background-size: cover;
        width: 100% auto;
        height: 100vh;
    }
    
    h1,
    h3 {
        text-align: center;
        color: white;
    }
    
    h3 {
        padding-top: 140px;
        line-height: 50px;
    }
    
    .navbar-brand {
        padding-left: 130px;
        padding-top: 50px;
    }