    body {
        /*  background-image: url('https://images.pexels.com/photos/6801874/pexels-photo-6801874.jpeg?cs=srgb&dl=pexels-anna-nekrashevich-6801874.jpg&fm=jpg'); */
        background-color: rgb(255, 255, 255);
        background-repeat: no-repeat !important;
        background-size: cover;
        width: 100% auto;
        height: 100vh;
    }
    /* .img-overlay {
        background-color: rgba(0, 0, 0, 0.7);
        background-size: cover;
        width: 100% auto;
        height: 100vh;
    }*/
    
    h1,
    h3 {
        text-align: center;
        color: rgb(0, 0, 0);
    }
    
    h3 {
        padding-top: 150px;
        line-height: 50px;
        font-weight: 300;
    }
    
    .navbar-brand {
        padding-top: 50px;
    }
    
    @media only screen and (max-width: 720px) {
        body {
            /*  background-image: url('https://images.pexels.com/photos/6801874/pexels-photo-6801874.jpeg?cs=srgb&dl=pexels-anna-nekrashevich-6801874.jpg&fm=jpg');*/
            background-color: rgb(255, 255, 255);
            background-repeat: no-repeat !important;
            background-size: cover;
            width: 100% auto;
            height: 100%;
        }
        /* .img-overlay {
            background-color: rgba(0, 0, 0, 0.7);
            background-size: cover;
            width: 100% auto;
            height: 100%;
            padding-bottom: 100px;
        } */
        h1,
        h3 {
            text-align: center;
            color: rgb(0, 0, 0);
        }
        h3 {
            font-size: 25px;
            padding-top: 100px;
            line-height: 40px;
            font-weight: 300;
        }
        .navbar-brand {
            padding-top: 50px;
        }
        h1 {
            font-size: 30px;
        }
    }